<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <div id='Todos' class='header'>
        <h3>Task Board</h3>
        <input type='text' id='addTask' placeholder="Add your task">
        <span onclick="newTask()" class="Button">Add</span>
    </div>


    
</body>
<ul id="tasksList">
    <li>Pay bills</li>
    <li class="checked">Create simple todolist</li>
    <li>Read a book</li>
    <li>fill in the task list</li>
  </ul>

  <script src="static/js/main.js"></script>
</html>